In [13]:
import pandas as pd

# Define the path to your CSV file
csv_file_path = 'au_postcodes.csv'

# Read the CSV file into a pandas DataFrame
aus_postcodes = pd.read_csv(csv_file_path)

# Display the DataFrame
postcodes1  = aus_postcodes['postcode'].unique()
list(postcodes1).index(6958)

3285

In [9]:
len(postcodes1)

3312

In [10]:
400/60

6.666666666666667

In [11]:
import requests
from bs4 import BeautifulSoup
def get_postcode_data(postcode, base_url='https://sqmresearch.com.au'):
    rent_url = f'{base_url}/weekly-rents.php?postcode={postcode}&t=1'
    response = requests.get(rent_url)
    if response.status_code == 200:
        # Parse the HTML content using BeautifulSoup
        soup = BeautifulSoup(response.content, 'html.parser')
            
            # Find the table containing the rent data
        table = soup.find('div', class_='changetable')
        data_text = []
        if table:
            rows = table.find_all('tr')
            for row in rows[1:]:
                columns = row.find_all('td')
                for col in columns:
                    data = col.get_text(strip=True)
                    data_text.append(data)
            return data_text
        else:
            print(f"Error fetching data for postcode: {postcode}")
            return None

In [12]:
import numpy as np


# Create a NumPy array
postcodes_test = np.array([4059, 4000, 2000, 201])

# Vectorize the function
# rental_data = np.vectorize(get_postcode_data)

# Apply the vectorized function to the array
# result = get_postcode_data(postcodes_test)
result = list(map(get_postcode_data, postcodes_test))

print(result)

KeyboardInterrupt:

In [ ]:
for i in result:
    print(i)

Week ending12 Apr 2024                      ($)
Change onprev week($)
Rolling month% change
Rolling quarter% change
12 month% change
3 year%(pa) change
7 year%(pa) change
10 year%(pa) change
Postcode 2000
All Houses
1,641.00
9.00
-0.9%
3.2%
13.6%
23.2%
5.0%
3.6%
3 br Houses
2,129.50
-29.50
-6.3%
-1.3%
52.6%
18.4%
2.5%
0.9%
All Units
1,276.48
3.52
-0.6%
6.9%
14.2%
22.6%
6.4%
6.0%
2 br Units
1,499.55
0.45
0.5%
8.8%
13.5%
23.7%
6.4%
5.6%
Combined
1,286.91
3.68
-0.6%
6.8%
14.2%
22.7%
6.4%
5.9%

In [ ]:
import pandas as pd
def get_property_dataframe(all_rental_data):
    house_types = []
    postcodes = []
    asking_price = []
    prev_week_changes = []
    rolling_month_changes = []
    rolling_quarter_changes = []
    rolling_12m_changes = []
    rolling_3yr_changes = []
    rolling_7yr_changes = []
    rolling_10yr_changes = []
    val_map = {0: house_types,
            1: asking_price,
            2: prev_week_changes,
            3: rolling_month_changes ,
            4: rolling_quarter_changes,
            5: rolling_12m_changes,
            6: rolling_3yr_changes,
            7: rolling_7yr_changes,
            8: rolling_10yr_changes
            }
    for data_array in all_rental_data:
        postcode = data_array[-1]
        
        data_array.pop()
        for idx, val in enumerate(data_array[9:], start=9):
            for key, value in val_map.items():
                if idx%9 == key:
                    value.append(val)
                if (idx%9 == 0) & (key == 0):
                    
                    postcodes.append(postcode)


    df = pd.DataFrame({
            'Postcode': postcodes,
            'Type': house_types,
            'Asking Price': asking_price,
            'Rolling Week Change': prev_week_changes,
            'Rolling Month Change': rolling_month_changes,
            'Rolling Quarter Change': rolling_month_changes,
            'Rolling 12m Change': rolling_12m_changes,
            'Rolling 03y Change': rolling_3yr_changes,
            'Rolling 07y Change': rolling_7yr_changes,
            'Rolling 10y Change': rolling_10yr_changes
        })
    return df

In [ ]:
import csv

# Initialize an empty list to store rows
rows_list = []

# Open the CSV file
with open('rental_data.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    # Iterate over each row in the CSV and append it to the list
    for row in reader:
        rows_list.append(row)

# Print the list of rows
rental_df = get_property_dataframe(rows_list)

# for idx, val in enumerate(rows_list[0][9:], start=9):
#     print(idx, val)

In [ ]:
rental_df[rental_df['Type'] == 'Combined'].sort_values(by='Asking Price', ascending=False).head(10)

,Postcode,Type,Asking Price,Rolling Week Change,Rolling Month Change,Rolling Quarter Change,Rolling 12m Change,Rolling 03y Change,Rolling 07y Change,Rolling 10y Change
344,2047,Combined,997.40,-9.86,-2.0%,-2.0%,-1.7%,15.2%,3.6%,3.7%
1039,2213,Combined,995.58,21.48,18.9%,18.9%,34.8%,22.8%,7.4%,6.8%
1104,2227,Combined,995.14,-18.37,-5.3%,-5.3%,26.9%,17.4%,7.4%,6.6%
10679,3930,Combined,995.13,92.81,16.0%,16.0%,28.9%,8.7%,7.1%,5.9%
299,2038,Combined,990.18,8.34,11.5%,11.5%,8.4%,17.5%,5.6%,5.2%
579,2103,Combined,988.92,-110.93,3.8%,3.8%,5.8%,6.5%,3.8%,4.1%
274,2033,Combined,988.30,-3.59,1.5%,1.5%,16.2%,24.2%,4.9%,4.1%
3874,4212,Combined,987.90,-45.79,-4.8%,-4.8%,-10.0%,4.6%,6.7%,5.0%
339,2046,Combined,985.63,39.50,1.6%,1.6%,27.9%,16.8%,6.1%,4.9%
1074,2221,Combined,984.73,41.17,6.2%,6.2%,14.9%,31.4%,6.6%,6.7%

In [ ]:
import pandas as pd

# Define the path to your CSV file
csv_file_path = 'au_postcodes.csv'

# Read the CSV file into a pandas DataFrame
aus_postcodes = pd.read_csv(csv_file_path)


aus_postcodes

,postcode,place_name,state_name,state_code,latitude,longitude,accuracy
0,200,Australian National University,Australian Capital Territory,ACT,-35.2777,149.1189,1.0
1,221,Barton,Australian Capital Territory,ACT,-35.3049,149.1412,4.0
2,2540,Wreck Bay,Australian Capital Territory,ACT,-35.1627,150.6907,4.0
3,2540,Hmas Creswell,Australian Capital Territory,ACT,-35.0280,150.5501,3.0
4,2540,Jervis Bay,Australian Capital Territory,ACT,-35.1333,150.7000,4.0
...,...,...,...,...,...,...,...
16870,6989,Maddington,Western Australia,WA,-32.0500,115.9833,4.0
16871,6990,Gosnells,Western Australia,WA,-32.0810,116.0054,4.0
16872,6991,Kelmscott,Western Australia,WA,-32.1243,116.0259,4.0
16873,6992,Armadale,Western Australia,WA,-32.1461,116.0093,4.0
16874,6997,Kelmscott Dc,Western Australia,WA,-32.1167,116.0056,1.0

In [ ]:
aus_postcodes['Postcode']=aus_postcodes['postcode']

In [ ]:
aus_postcodes

,postcode,place_name,state_name,state_code,latitude,longitude,accuracy,Postcode
0,200,Australian National University,Australian Capital Territory,ACT,-35.2777,149.1189,1.0,200
1,221,Barton,Australian Capital Territory,ACT,-35.3049,149.1412,4.0,221
2,2540,Wreck Bay,Australian Capital Territory,ACT,-35.1627,150.6907,4.0,2540
3,2540,Hmas Creswell,Australian Capital Territory,ACT,-35.0280,150.5501,3.0,2540
4,2540,Jervis Bay,Australian Capital Territory,ACT,-35.1333,150.7000,4.0,2540
...,...,...,...,...,...,...,...,...
16870,6989,Maddington,Western Australia,WA,-32.0500,115.9833,4.0,6989
16871,6990,Gosnells,Western Australia,WA,-32.0810,116.0054,4.0,6990
16872,6991,Kelmscott,Western Australia,WA,-32.1243,116.0259,4.0,6991
16873,6992,Armadale,Western Australia,WA,-32.1461,116.0093,4.0,6992
16874,6997,Kelmscott Dc,Western Australia,WA,-32.1167,116.0056,1.0,6997

In [ ]:
rental=rental_df[rental_df['Type'] == 'Combined']

In [ ]:
merged = pd.merge(rental, aus_postcodes,on='Postcode')

In [ ]:
rental['Postcode'] = rental['Postcode'].astype('int64')

/var/folders/yg/m60cjxj971q3jmg20x4kjtth0000gp/T/ipykernel_4597/5063579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rental['Postcode'] = rental['Postcode'].astype('int64')

In [ ]:
rental.dtypes

Postcode                   int64
Type                      object
Asking Price              object
Rolling Week Change       object
Rolling Month Change      object
Rolling Quarter Change    object
Rolling 12m Change        object
Rolling 03y Change        object
Rolling 07y Change        object
Rolling 10y Change        object
dtype: object

In [ ]:
merged.head()

,Postcode,Type,Asking Price,Rolling Week Change,Rolling Month Change,Rolling Quarter Change,Rolling 12m Change,Rolling 03y Change,Rolling 07y Change,Rolling 10y Change,postcode,place_name,state_name,state_code,latitude,longitude,accuracy
0,2540,Combined,577.33,2.67,0.9%,0.9%,5.8%,12.3%,5.6%,5.3%,2540,Wreck Bay,Australian Capital Territory,ACT,-35.1627,150.6907,4.0
1,2540,Combined,577.33,2.67,0.9%,0.9%,5.8%,12.3%,5.6%,5.3%,2540,Hmas Creswell,Australian Capital Territory,ACT,-35.0280,150.5501,3.0
2,2540,Combined,577.33,2.67,0.9%,0.9%,5.8%,12.3%,5.6%,5.3%,2540,Jervis Bay,Australian Capital Territory,ACT,-35.1333,150.7000,4.0
3,2540,Combined,577.33,2.67,0.9%,0.9%,5.8%,12.3%,5.6%,5.3%,2540,Culburra Beach,New South Wales,NSW,-34.9303,150.7587,3.0
4,2540,Combined,577.33,2.67,0.9%,0.9%,5.8%,12.3%,5.6%,5.3%,2540,Tomerong,New South Wales,NSW,-35.0523,150.5865,4.0

In [ ]:
import numpy as np
np.random.randn(1000, 2) / [50, 50] + [37.76, -122.4]

array([[  37.73769484, -122.38116336],
       [  37.78149319, -122.39896479],
       [  37.79295658, -122.39805002],
       ...,
       [  37.76023549, -122.43841195],
       [  37.78830678, -122.37553919],
       [  37.74421412, -122.4072411 ]])

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {'Column1': [1, 2, 3, 4, 5],
        'Column2': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Get two columns from the DataFrame into a numpy array
columns_array = df[['Column1', 'Column2']].to_numpy()

print(columns_array)

[[ 1 10]
 [ 2 20]
 [ 3 30]
 [ 4 40]
 [ 5 50]]

In [ ]:
merged[['latitude', 'longitude']].to_numpy()

array([[-35.1627, 150.6907],
       [-35.028 , 150.5501],
       [-35.1333, 150.7   ],
       ...,
       [-32.081 , 116.0054],
       [-32.1243, 116.0259],
       [-32.1461, 116.0093]])

In [ ]:
merged['Asking Price'] = merged['Asking Price'].str.replace(',', '').astype('float')

In [ ]:
merged

,Postcode,Type,Asking Price,Rolling Week Change,Rolling Month Change,Rolling Quarter Change,Rolling 12m Change,Rolling 03y Change,Rolling 07y Change,Rolling 10y Change,postcode,place_name,state_name,state_code,latitude,longitude,accuracy
0,2540,Combined,577.33,2.67,0.9%,0.9%,5.8%,12.3%,5.6%,5.3%,2540,Wreck Bay,Australian Capital Territory,ACT,-35.1627,150.6907,4.0
1,2540,Combined,577.33,2.67,0.9%,0.9%,5.8%,12.3%,5.6%,5.3%,2540,Hmas Creswell,Australian Capital Territory,ACT,-35.0280,150.5501,3.0
2,2540,Combined,577.33,2.67,0.9%,0.9%,5.8%,12.3%,5.6%,5.3%,2540,Jervis Bay,Australian Capital Territory,ACT,-35.1333,150.7000,4.0
3,2540,Combined,577.33,2.67,0.9%,0.9%,5.8%,12.3%,5.6%,5.3%,2540,Culburra Beach,New South Wales,NSW,-34.9303,150.7587,3.0
4,2540,Combined,577.33,2.67,0.9%,0.9%,5.8%,12.3%,5.6%,5.3%,2540,Tomerong,New South Wales,NSW,-35.0523,150.5865,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15813,6988,Combined,329.06,35.94,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,6988,Thornlie,Western Australia,WA,-32.0600,115.9550,4.0
15814,6989,Combined,0.00,0.00,0.0%,0.0%,0.0%,0.0%,0.0%,0.0%,6989,Maddington,Western Australia,WA,-32.0500,115.9833,4.0
15815,6990,Combined,323.75,1.25,1.2%,1.2%,1.2%,0.4%,0.2%,0.1%,6990,Gosnells,Western Australia,WA,-32.0810,116.0054,4.0
15816,6991,Combined,290.00,0.00,3.6%,3.6%,3.6%,1.2%,0.5%,0.4%,6991,Kelmscott,Western Australia,WA,-32.1243,116.0259,4.0
15817,6992,Combined,299.06,20.94,12.9%,12.9%,3.1%,1.0%,0.4%,0.3%,6992,Armadale,Western Australia,WA,-32.1461,116.0093,4.0

In [ ]:
import csv
from utils import get_property_dataframe

# Initialize an empty list to store rows
rows_list = []

# Open the CSV file
with open('sale_data.csv', newline='') as csvfile:
    reader = csv.reader(csvfile)
    # Iterate over each row in the CSV and append it to the list
    for row in reader:
        rows_list.append(row)

# Print the list of rows
sale_df = get_property_dataframe(rows_list)

In [ ]:
rental_df.head()

  Postcode         Type  ... Rolling 07y Change Rolling 10y Change
0     2540   All Houses  ...               5.4%               4.8%
1     2540  3 br Houses  ...               5.1%               4.1%
2     2540    All Units  ...               6.4%               8.4%
3     2540   2 br Units  ...               5.6%               6.6%
4     2540     Combined  ...               5.6%               5.3%

[5 rows x 10 columns]

In [14]:
aus_postcodes

       postcode                      place_name  ... longitude accuracy
0           200  Australian National University  ...  149.1189      1.0
1           221                          Barton  ...  149.1412      4.0
2          2540                       Wreck Bay  ...  150.6907      4.0
3          2540                   Hmas Creswell  ...  150.5501      3.0
4          2540                      Jervis Bay  ...  150.7000      4.0
...         ...                             ...  ...       ...      ...
16870      6989                      Maddington  ...  115.9833      4.0
16871      6990                        Gosnells  ...  116.0054      4.0
16872      6991                       Kelmscott  ...  116.0259      4.0
16873      6992                        Armadale  ...  116.0093      4.0
16874      6997                    Kelmscott Dc  ...  116.0056      1.0

[16875 rows x 7 columns]

In [15]:
rental_df['Postcode'] = rental_df['Postcode'].astype('int64')
rental_df['Asking Price'] = rental_df['Asking Price'].str.replace(',', '').astype('float')

In [16]:
rental_df

       Postcode         Type  ...  Rolling 07y Change Rolling 10y Change
0          2540   All Houses  ...                5.4%               4.8%
1          2540  3 br Houses  ...                5.1%               4.1%
2          2540    All Units  ...                6.4%               8.4%
3          2540   2 br Units  ...                5.6%               6.6%
4          2540     Combined  ...                5.6%               5.3%
...         ...          ...  ...                 ...                ...
12765      6992   All Houses  ...                0.1%               0.0%
12766      6992  3 br Houses  ...                0.0%               0.0%
12767      6992    All Units  ...                0.4%               0.3%
12768      6992   2 br Units  ...                0.1%               0.0%
12769      6992     Combined  ...                0.4%               0.3%

[12770 rows x 10 columns]

In [17]:
sale_df['Postcode'] = sale_df['Postcode'].astype('int64')
sale_df['Asking Price'] = sale_df['Asking Price'].str.replace(',', '').astype('float')

In [18]:
sale_df

       Postcode         Type  ...  Rolling 07y Change Rolling 10y Change
0          2540   All Houses  ...                7.9%               8.7%
1          2540  3 br Houses  ...                7.7%               8.5%
2          2540    All Units  ...               10.1%               9.1%
3          2540   2 br Units  ...                8.0%               5.9%
4          2540     Combined  ...                8.0%               8.7%
...         ...          ...  ...                 ...                ...
12735      6992   All Houses  ...                1.1%               0.7%
12736      6992  3 br Houses  ...                1.0%               0.7%
12737      6992    All Units  ...                0.5%               0.3%
12738      6992   2 br Units  ...                0.0%               0.0%
12739      6992     Combined  ...                0.8%               0.6%

[12740 rows x 10 columns]

In [29]:
rental = rental_df[rental_df['Type'] == 'Combined'][['Postcode', 'Asking Price']].rename({'Asking Price':'weekly_rent'})
sale = sale_df[sale_df['Type'] == 'Combined'][['Postcode', 'Asking Price']].rename({'Asking Price': 'asking_sale_price($k)'})

In [35]:
merged_df = pd.merge(rental,sale, on='Postcode')
merged_df['postcode']= merged_df['Postcode']

In [36]:
merged_df = pd.merge(merged_df, aus_postcodes, on='postcode')

In [38]:
merged_df

       Postcode  Asking Price_x  Asking Price_y  ...  latitude longitude accuracy
0          2540          577.33         975.769  ...  -35.1627  150.6907      4.0
1          2540          577.33         975.769  ...  -35.0280  150.5501      3.0
2          2540          577.33         975.769  ...  -35.1333  150.7000      4.0
3          2540          577.33         975.769  ...  -34.9303  150.7587      3.0
4          2540          577.33         975.769  ...  -35.0523  150.5865      4.0
...         ...             ...             ...  ...       ...       ...      ...
15807      6988          329.06         398.303  ...  -32.0600  115.9550      4.0
15808      6989            0.00         329.427  ...  -32.0500  115.9833      4.0
15809      6990          323.75         333.295  ...  -32.0810  116.0054      4.0
15810      6991          290.00         365.014  ...  -32.1243  116.0259      4.0
15811      6992          299.06         303.860  ...  -32.1461  116.0093      4.0

[15812 rows x 10 columns]

In [39]:
merged_df['key_ratio'] = merged_df['Asking Price_x']/merged_df['Asking Price_y']

In [41]:
merged_df[merged_df['state_code'] == 'QLD'].sort_values(by='key_ratio', ascending=False).head(20)

      Postcode  Asking Price_x  Asking Price_y  ...  longitude accuracy key_ratio
7776      4726          200.00          54.593  ...   147.5842      3.0  3.663473
7777      4726          200.00          54.593  ...   147.5842      3.0  3.663473
7778      4726          200.00          54.593  ...   145.2450      4.0  3.663473
6545      4417          265.00          72.964  ...   149.0681      4.0  3.631928
6546      4417          265.00          72.964  ...   150.4009      3.0  3.631928
6547      4417          265.00          72.964  ...   150.4009      3.0  3.631928
6548      4417          265.00          72.964  ...   150.4009      3.0  3.631928
6549      4417          265.00          72.964  ...   150.4009      3.0  3.631928
6544      4417          265.00          72.964  ...   150.4009      3.0  3.631928
6543      4417          265.00          72.964  ...   150.4009      3.0  3.631928
7684      4712          350.00         122.021  ...   149.6701      4.0  2.868359
6570      4424          215.00          77.813  ...   149.8266      3.0  2.763034
6569      4424          215.00          77.813  ...   149.9762      4.0  2.763034
6571      4424          215.00          77.813  ...   149.8266      3.0  2.763034
6370      4364          349.89         137.756  ...   151.4456      4.0  2.539926
7097      4611          360.00         146.283  ...   151.7724      4.0  2.460983
7096      4611          360.00         146.283  ...   151.7667      3.0  2.460983
8536      4875         1681.75         721.348  ...   145.4479      1.0  2.331399
8531      4875         1681.75         721.348  ...   145.4479      1.0  2.331399
8544      4875         1681.75         721.348  ...   145.4479      1.0  2.331399

[20 rows x 11 columns]

In [28]:
aus_postcodes

       postcode                      place_name  ... longitude accuracy
0           200  Australian National University  ...  149.1189      1.0
1           221                          Barton  ...  149.1412      4.0
2          2540                       Wreck Bay  ...  150.6907      4.0
3          2540                   Hmas Creswell  ...  150.5501      3.0
4          2540                      Jervis Bay  ...  150.7000      4.0
...         ...                             ...  ...       ...      ...
16870      6989                      Maddington  ...  115.9833      4.0
16871      6990                        Gosnells  ...  116.0054      4.0
16872      6991                       Kelmscott  ...  116.0259      4.0
16873      6992                        Armadale  ...  116.0093      4.0
16874      6997                    Kelmscott Dc  ...  116.0056      1.0

[16875 rows x 7 columns]

In [1]:
from utils import get_rental_data, get_sale_data, get_aus_postcodes, get_best_postcodes_rent_yields
get_best_postcodes_rent_yields(house_type='Combined', state='SA', rank=100, house_price=500)

,place_name,state_name,state_code,latitude,longitude,Postcode,Asking Price in $k,Weekly Rent,Rent To Price Ratio
9112,Goolwa North,South Australia,SA,-35.4912,138.8126,5214,696.805,1190.57,1.708613
9108,Currency Creek,South Australia,SA,-35.4500,138.7667,5214,696.805,1190.57,1.708613
9106,Mosquito Hill,South Australia,SA,-35.5020,138.7849,5214,696.805,1190.57,1.708613
9107,Goolwa Beach,South Australia,SA,-35.5047,138.7732,5214,696.805,1190.57,1.708613
9105,Hindmarsh Island,South Australia,SA,-35.5101,138.8676,5214,696.805,1190.57,1.708613
...,...,...,...,...,...,...,...,...,...
10073,Coulta,South Australia,SA,-34.3833,135.4667,5607,514.977,508.52,0.987462
10072,Yallunda Flat,South Australia,SA,-34.3475,135.8787,5607,514.977,508.52,0.987462
10071,Green Patch,South Australia,SA,-34.3251,135.6717,5607,514.977,508.52,0.987462
10105,Mount Dutton Bay,South Australia,SA,-34.3251,135.6717,5607,514.977,508.52,0.987462
10070,Poonindie,South Australia,SA,-34.5813,135.8810,5607,514.977,508.52,0.987462

In [13]:
list(get_aus_postcodes()['state_code'].unique()) + ['All Australia']

['ACT', 'NSW', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA', 'All Australia']

In [2]:
from utils import get_postcode_data
sqmsearch_data = get_postcode_data(4059)

In [3]:
sqmsearch_data

{'rent': ('3.8%', 679.18), 'price': ('4.9%', 946982.0)}

In [6]:
df_rental = get_rental_data()
df_sale = get_sale_data()

In [1]:
from utils import get_property_metrics
get_property_metrics(4059, type='Combined')

TypeError: _get_filtered_df() missing 2 required positional arguments: 'postcode' and 'type'

In [5]:
from utils import get_sale_data
get_sale_data()[['Postcode' , 'Asking Price in $k', 'Rolling 10y Change','Type']]

       Postcode  Asking Price in $k Rolling 10y Change         Type
0          2540            1010.194               8.7%   All Houses
1          2540             894.448               8.5%  3 br Houses
2          2540             673.520               9.1%    All Units
3          2540             484.284               5.9%   2 br Units
4          2540             975.769               8.7%     Combined
...         ...                 ...                ...          ...
12735      6992             300.385               0.7%   All Houses
12736      6992             298.948               0.7%  3 br Houses
12737      6992             308.979               0.3%    All Units
12738      6992             239.627               0.0%   2 br Units
12739      6992             303.860               0.6%     Combined

[12740 rows x 4 columns]

In [15]:
from utils import get_rental_data, get_sale_data
def get_property_metrics_local(postcode, type='Combined'):
    def _get_filtered_df(df, postcode, type):
        df = df[(df['Type'] == type) & (df['Postcode'] == postcode)]
        return df

    sale_df = get_sale_data()[['Postcode' , 'Asking Price in $k', 'Rolling 10y Change', 'Type']]
    rental_df = get_rental_data()[['Postcode' , 'Weekly Rent', 'Rolling 10y Change', 'Type']]

    sale_df = _get_filtered_df(sale_df, postcode, type)
    rental_df = _get_filtered_df(rental_df, postcode, type)

    return {'rent' : (rental_df.iloc[0]['Rolling 10y Change'], rental_df.iloc[0]['Weekly Rent']) , 
           'price': (sale_df.iloc[0]['Rolling 10y Change'], sale_df.iloc[0]['Asking Price in $k']*1000)}

get_property_metrics_local(4059)

{'rent': ('3.8%', 679.18), 'price': ('4.9%', 946982.0)}

In [1]:
from utils import get_rental_data
postcode = 4059
houseType = 'Combined'
rental_df = get_rental_data()[['Postcode' , 'Weekly Rent', 'Rolling 10y Change', 'Type']]
rental_df = rental_df[(rental_df['Type'] == houseType) & (rental_df['Postcode'] == postcode)]
rental_df

      Postcode  Weekly Rent Rolling 10y Change      Type
3484      4059       679.18               3.8%  Combined

In [14]:
rental_df.iloc[0]['Postcode']

4059